build/
cmake-build-*/
.idea/
.vs/
*.user
*.suo
*.log
*.dll
*.exe
*.lib
*.pdb
*.obj
delivery/clean_submission_package/
delivery/submission_package/
delivery/*.zip
n8ro_reinstall_backup/
!release/*.dll
